
:host ::ng-deep .p-dropdown {
    border:none;
    border-bottom: 1px solid gray;
    width: 170px;
}

.container-actions{
    display: flex;
    gap: 10px;
}

.permutation-content{
    margin-top: 100px;
}