<div class="card">
  <p-table [value]="warehouses" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="client" >Cliente <p-sortIcon field="client"></p-sortIcon></th>
              <th pSortableColumn="uuid" >Almacen <p-sortIcon field="uuid"></p-sortIcon></th>
              <th pSortableColumn="family" >Tipo <p-sortIcon field="family"></p-sortIcon></th>
              <th pSortableColumn="size" >Tamaño <p-sortIcon field="size"></p-sortIcon></th>
              <th>Acciones</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-warehouse>
          <tr>
              <td>{{ warehouse.client }}</td>
              <td>{{ warehouse.uuid }}</td>
              <td>{{ warehouse.family }}</td>
              <td>{{ warehouse.size }}</td>
              <td class="container-actions">
                <p-button icon="pi pi-eye" (click)="goDetail(warehouse.id, 'view')" title="Ver detalle"></p-button>
                <p-button icon="pi pi-pencil" (click)="goDetail(warehouse.id, 'edit')" title="Editar"></p-button>
                <p-button icon="pi pi-trash" (click)="deleteWarehouses(warehouse.id)" title="Eliminar"></p-button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<div class="buttons-margin-top">
  <p-button (click)="visible = true" label="Añadir"></p-button>
</div>


<p-dialog header="Añadir Almacén" [(visible)]="visible" [modal]="true" [style]="{ width: 'min(100% - 5px, 400px)' }" [draggable]="false" [resizable]="false">
    
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-input">
      <label>Almacén</label>
      <div class="input-validator">
        <input type="text" formControlName="uuid" />
        <div *ngIf="formulario.get('uuid')?.touched && formulario.get('uuid')?.invalid">
          <small>El campo es obligatorio.</small>
        </div>
      </div>
    </div>
  
    <div class="form-input">
      <label>Cliente</label>
      <div class="input-validator">
        <input type="text" formControlName="client" />
        <div *ngIf="formulario.get('client')?.touched && formulario.get('client')?.invalid">
          <small>El campo es obligatorio y debe tener al menos 3 caracteres.</small>
        </div>
      </div>
    </div>
  
    <div class="form-input">
      <label>Tipo</label>
      <div class="input-validator">
        <p-dropdown [options]="families" formControlName="family" placeholder=" "></p-dropdown>
        <div *ngIf="formulario.get('family')?.touched && formulario.get('family')?.invalid">
          <small>El campo es obligatorio.</small>
        </div>
      </div>
    </div>
  
    <div class="form-input">
      <label>Tamaño</label>
      <div class="input-validator">
        <input type="text" formControlName="size" />
        <div *ngIf="formulario.get('size')?.touched && formulario.get('size')?.invalid">
          <small>El campo es obligatorio.</small>
        </div>
      </div>
    </div>
  
    <div class="buttons-container">
      <p-button type="button" label="Cancelar" (click)="cancel()"></p-button>
      <p-button type="submit" label="Añadir"></p-button>
    </div>
  </form>
</p-dialog>


<hr>

<h2>Cálculo de permutaciones</h2>

<form [formGroup]="formPermutation" (ngSubmit)="calculatePermutation()">
  <div class="form-input">
    <label>Tamaño</label>
    <div class="input-validator">
      <input type="text" formControlName="size" />
      <div *ngIf="formPermutation.get('size')?.touched && formPermutation.get('size')?.invalid">
        <small>El campo es obligatorio.</small>
      </div>
    </div>
  </div>
  <div class="form-input">
    <label>Tipo</label>
    <div class="input-validator">
      <p-dropdown [options]="families" formControlName="family" placeholder=" "></p-dropdown>
      <div *ngIf="formPermutation.get('family')?.touched && formPermutation.get('family')?.invalid">
        <small>El campo es obligatorio.</small>
      </div>
    </div>
  </div>

  <div class="buttons-margin-top">
    <p-button type="submit" label="Calcular"></p-button>
  </div>
</form>

{{permitations | json}}